<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app/lib/angularjs.min.js"></script>
  </head>
  <body ng-init="ninjas=['Yoshi','Crystal','Shaun','Ryu']">
    
    <ul>
      <li ng-repeat="ninja in ninjas">
        {{ninja}}
      </li>
    </ul>

    <!-- 2-WAY DATA BINDING -->
    <hr>
    <input type="text" ng-model="favMeat" placeholder="Enter your fav meat">
    <p>Your fav meat is: {{ favMeat }}<p>
  </body>
</html>