<div class="content">

  <button ng-click="order = 'name'">Order by Name</button>
  <button ng-click="order = 'belt'">Order by Belt</button>

  <input type="text" ng-model="search">

  <ul id="ninja-list">
    <li ng-repeat="ninja in ninjas | orderBy: order | filter: search" ng-show="ninja.available"> 
      <img ng-src="{{ninja.thumb}}" style="margin: -12px 10px 0 0; float: left; width: 50px; border-radius: 50%;">
      <h3>{{ninja.name}} - {{ninja.rate | currency: "R$"}}</h3>
      <div ng-click="removeNinja(ninja)" class="remove">X</div>
      <span class="belt" style="background: {{ninja.belt}};">{{ninja.belt}} belt</span>
    </li>
  </ul>

  <form ng-submit="addNinja()" class="form">
    <input type="text" placeholder="Name" ng-model="newninja.name">
    <input type="text" placeholder="Belt color" ng-model="newninja.belt">
    <input type="text" placeholder="Rate" ng-model="newninja.rate">
    <button type="submit" class="submit" value="Add new Ninja">
      Submit
    </button>
  </form>

</div>